@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;800&display=swap");
$primary-color: #ffffff;
$secondary-color: #ffffff;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Vazirmatn", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // overflow: hidden;
  // margin: 0;
}

.slider {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .slider__container {
    height: 400px;
    transform: translate(0px);
    transition: transform 0.8s ease;
    display: flex;
    flex-direction: row;
    
    img {
      width: 100%;
      // width: 600px;
      // height: 400px;
      // background: url(../assets/1.jpg);
      // background-size: cover;

    }
  }
}
